<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Demon Slayer</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app" class="container">
      <!-- TITLE BAR -->
      <div class="card-body bg-black text-center">
        <div class="row" style="justify-content: space-around;">
          <h3>DEMON SLAYER</h3>
          <button
            data-toggle="modal"
            data-target="#exampleModal"
            class="btn btn-info btn-sm"
          >
            Rules
          </button>
        </div>
        <h6 class="lead text-muted">{{header}}</h6>
      </div>
      <!--  -->

      <!-- HEALTH CARDS -->
      <div class="card-body bg-dark text-light">
        <div>
          <p class="lead">Player</p>
          <div class="progress">
            <div
              class="progress-bar"
              :class="{'bg-success': !isPlayerInDanger, 'bg-danger': isPlayerInDanger}"
              role="progressbar"
              :style="playerStyle"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="mt-4">
          <p class="lead">Demon</p>
          <div class="progress">
            <div
              class="progress-bar"
              :class="{'bg-success': !isDemonInDanger, 'bg-danger': isDemonInDanger}"
              role="progressbar"
              :style="demonStyle"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- CONTROLS -->
      <!-- IF GAME NOT STARTED -->
      <div v-if="!gameStarted" class="jumbotron mb-0 p-3 border">
        <button @click="startGame()" class="btn btn-info btn-lg btn-block">
          {{buttonMessage}}
        </button>
      </div>
      <!-- ELSE IF GAME STARTED -->
      <div v-else class="btn-group jumbotron mb-0 p-3 border">
        <button @click="play(0)" class="btn btn-primary">
          Melee Attack
        </button>
        <button @click="play(1)" class="btn btn-danger">
          Use Magic
        </button>
        <button @click="play(2)" class="btn btn-success">
          Heal
        </button>
        <button @click="play(3)" class="btn btn-warning">
          Block
        </button>
      </div>
      <!--  -->

      <!-- LOGS -->
      <div>
        <ul class="list-group list-group">
          <li v-for="log in logs" class="list-group-item">
            {{log}}
          </li>
        </ul>
      </div>
      <!--  -->
    </div>

    <!-- MODAL -->
    <div id="exampleModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Rules</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group">
              <li class="list-group-item">
                <strong>Melee Attack - </strong>Deal 0-10 dmg to opponent.
              </li>
              <li class="list-group-item">
                <strong>Use Magic - </strong>Deal 0-20 dmg to opponent and 0-15
                dmg to self.
              </li>
              <li class="list-group-item">
                <strong>Heal - </strong>Heal self by 0-10 HP.
              </li>
              <li class="list-group-item">
                <strong>Block - </strong>Block opponent's melee attack.
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <script src="./script.js"></script>
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  </body>
</html>
